
<!doctype html>
<html lang="en">
  <head>

      {% load staticfiles %}
    <title>{{ blog.title }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'logo.png' %}" class="d-inline-block align=top"/>
          Harmony</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'home' %}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'allblogs' %}">Album</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/SandyKumar15140">Twitter</a>
            </li>
                      </ul>
        </div>
      </nav></header>

<main role="main">
    <div class="container">
           <h1 class="text-center pt-3">{{ blog.title }}</h1>
    

 
<p class="text-center" >{{ blog.nice_date_frmt }}</p>


<img class="img-fluid" src = "{{ blog.image.url }}"/>

<br/>
 <p> {{ blog.body }}</p>


 </div>
</main>


<footer class="text-muted">
  <div class="container text-center">
    <p> &copy; Right Harmony {% now "Y" %}</p>
        
</footer>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</html>
